.wall,.ball,#paddle,#env_container,#container,#brick_container,[class^='power-'] {
    z-index: 5;
    position: absolute;
}

.power-fireball::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#container{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#env_container{
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#brick_container{
    top: 10px;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 3;
}

#paddle{
    background-color: blue;
    z-index: 3;
}

.ball {
    border-radius: 50%;
    background-color: white;
}

/*ball powers*/

.ball-fireball{
    border: 1px solid red;
    background-color: gold;
}

.wall {
    background-color: black;
}

.brick,[class^='brick-']{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 1px;
}

.brick{
    background-color: firebrick;
}

.brick-fireball{
    background-color: gold;
    animation: power-brick-blink 1s linear infinite;
}

.brick-rowblast{
    background-color: green;
    animation: power-brick-blink 1s linear infinite;
}

.brick-destroy{
    animation: brick-destroy 100ms linear forwards;
}

.power-fireball{
    border-radius: 50%;
    background-color: gold;
}

.power-rowblast{
    animation: power-rowblast 100ms linear forwards;
}

.power-fireball::before{
    content: 'F';
    color: white;
}

@keyframes brick-destroy {
    100%{
        opacity: 0;
    }
}

@keyframes power-brick-blink {
    50%{
        opacity: 0.8;
    }
}

@keyframes power-spin {
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes power-rowblast {
    100%{
        left: 0;
        width: 100%;
        border: 1px solid red;
        opacity: 0;
    }
}

#freeze_layer{
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#game_over_banner{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 400px;
    background-image: url(../images/gameover.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game_over_container{
    display: none;
}

#game_over_container button{
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    cursor: pointer;
}